.car-red{
text-align: center;
margin: 100px 0px 0px 0px;
}
.content{font-size: 40px;}
.photo{
    animation: p 3s alternate infinite;
    transition-delay: 2s;
}
@keyframes p{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-20px);}}
.photos{
    display: flex;
    justify-content: center;
    gap: 10px;
}
body{
    background-color: aquamarine;
}